
 @import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
* { font-family:"Nanum Gothic" !important }

  body{
    background-color: white;
  }

h2{
  position: relative;
  font-weight:800;
  text-align: center;
  color: black;
  font-size:62px;
  margin-bottom: 30px;
  margin-top: 30px;
  letter-spacing:5px;
}

h3{
  position: relative;
  text-align: center;
  color: black;
  letter-spacing:2px;
  font-size: 135%;
  font-weight: normal;
  margin-top: -5px;
  margin-bottom: 60px;
  padding: 0 15px;

}


.searchbox{
  text-align:center;
  margin: 8px auto 50px;
  padding:0 3px;
}

 .searchbutton{
    width:100px !important;
    height: 40px;
    width: 12%;
    background-color:white;
    text-decoration: none;
    border: 10px solid #4EA689;
    border-style: none;
    font-size: 20px;
    padding:1 0;
    
 }


.club-element{
  background-color: white;
  width: 26rem;  
  height: 20rem;
  color: #947B2B;
  border-radius: 20px;
  border-style: outset;
  font-size: 20px;
  font-weight: bold;
  margin-bottom:15px;
  float:center;
}


