@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
* { font-family:"Nanum Gothic" !important }


body{
	width: 100%;
	
	background-color: white;	
}

#wrap{
	border-style: none;
	border-color: #ebebeb;
	
	width: 1300px;
	height: 910px;
	margin:0 auto;
}

#section{
	width: 550px;
	float: left;
	background-color: white;
	border-radius: 8px;
	margin-right: 5%; 
	margin-left: 12%;
	border-width: 1px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


.content{
	margin: 0 auto;
	padding-bottom: 30px;
	padding:3%;
	border-radius: 10px;

}

.picture{
	width: 100%;
	border-radius: 10px;
}

#aside{
	border-radius: 10px 10px 2px 2px;
	width: 300px;
	height: 700px;
	float: left;
	background-color: transparent;
}

#navigation{
	margin-left: 12%;
	margin-bottom: 1%;
	color: white;
	font-size: 20px;
	font-style: underline;

}


.club-logo{
	border-radius: 10px 10px 2px 2px;
	width: 300px;
	height: 150px;
	float: left;
	background-color: white;
	border: transparent;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	color: #947B2B;
	font-size: 40px;
	text-align: center;
}

.profile_pic{
	background-image: url(../img/club_page.jpg);
	position: static;
	border-radius: 10px 10px 2px 2px;
	width: 300px;
	height: 150px;
	float: left;
	background-color: white;
	border: transparent;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	font-size: 40px;

}

.club-apply-bt{
	display: block;
	border-radius: 6px;
	border-style: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	background-color: #C4AA5E;
	width: 40%;
	color: #fff;
	width: 300px;
	height: 45px;
	border-radius: 0px 0px 4px  4px;
	font-size: 20px;
}

.club-result-bt1{
	display: block;
	border-radius: 6px;
	border-style: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	background-color: #D2D68B;
	width: 40%;
	color: #fff;
	width: 300px;
	height: 45px;
	border-radius: 4px 4px 4px  4px;
	font-size: 20px;
	margin-top: 10px;
}

.club-result-bt2{
	display: block;
	border-radius: 6px;
	border-style: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	background-color: #C4CA6E;
	width: 40%;
	color: #fff;
	width: 300px;
	height: 45px;
	border-radius: 4px 4px 4px  4px;
	font-size: 20px;
	margin-top: 10px;
}
.club-result-bt3{
	display: block;
	border-radius: 6px;
	border-style: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	background-color: #B3B85E;
	width: 40%;
	color: #fff;
	width: 300px;
	height: 45px;
	border-radius: 4px 4px 4px  4px;
	font-size: 20px;
	margin-top: 10px;
}
.club-result-bt4{
	display: block;
	border-radius: 6px;
	border-style: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	background-color: #A4A84F;
	width: 40%;
	color: #fff;
	width: 300px;
	height: 45px;
	border-radius: 4px 4px 4px  4px;
	font-size: 20px;
	margin-top: 10px;
}
.club-result-bt5{
	display: block;
	border-radius: 6px;
	border-style: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	background-color: #989C45;
	width: 40%;
	color: #fff;
	width: 300px;
	height: 45px;
	border-radius: 4px 4px 4px  4px;
	font-size: 20px;
	margin-top: 10px;
}







.title{
	color: #4EA689;
}

.intro{
	width: 100%;
	color: #2D4D42;
	font-size: 15px;
}



.submit_content{
  height:61px;
  width:300px;
  margin:0 auto;
  text-align:center;
}



.submit_content button{
  margin-top:10px;
  width:100%;
  height:100%;
  background-color:#4582ec;
  border-radius: 7px;
  color:white;
  letter-spacing: 0.6rem;
  font-size:2rem;
  padding:0 !important;
}

.submit_content button:hover{
  background-color:white;
  color:black;
  padding-left:10%;
  }

.containerbox{
	margin:0 auto;

}

.form-control{
	margin-bottom: 20px;
}