@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
* { font-family:"Nanum Gothic" !important }


html { 
   background: url(../img/background.jpg) no-repeat center center fixed;   
     /*background-size: 100% auto;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text{
    background-color: transparent;
    color
}

.club-button{
    position: absolute;
    top: 55%;
    height: 30%;
    width: 40%;
    /*background-color: black;*/
}

.academy-button{
    position: absolute;
    top: 55%;
    left: 60%;    
    height: 30%;
    width: 40%;
    /*background-color: black;*/

}

.link-button{
    position: absolute;
    top: 64%;
    left: 28%;    
    height: 12%;
    width: 15%;
}

.popup{
    width: 285px;
    height: auto;
}

