@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
* { font-family:"Nanum Gothic" !important }
html { 
  background: url(../img/1.jpg) no-repeat center center fixed; 
  background-size: 100% 100%;
}

body{
  background-color: transparent;
}


.container{
  width:100%;
  height:100%;
}

#header {
  position: relative;
  height: 168px;
  padding: 62px 0 0;
  width: 900px;
  margin: -10px auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#header .h_logo{
  position: relative;
  display: block;
  overflow: hidden;
  width: 400px;
  margin: -10px auto;
  text-decoration:none;
}

.loginbox{
  max-width: 800px;
  min-width: 460px;
  margin: 20px auto;
  background-color: transparent;
  opacity: 0.9;
  filter: alpha(opacity=20);
}


.join_content{
  width:390px;
  margin:0 auto;
  padding:10px 50px;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  background-color: white;
  

}

.join_content fieldset{
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 400px;
  margin: 0 10%;
  background-color: white;

}


.form-group h2{
  text-align:center;
  font-size:2.0rem;
  color: #486E68;
  margin-bottom: 14px;
}


#form-margin{
  margin-top:20px;
}

.submit_content{
  height:61px;
  width:396px;
  margin:0 auto;
  padding:10px auto;
  text-align:center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}



.submit_content button{
  width:100%;
  height:100%;
  background-color:#C4CA6E;
  border-radius: 7px;
  color:white;
  letter-spacing: 0.6rem;
  font-size:2rem;
}

.submit_content button:hover{
  background-color:#FCFFC9;
  color:black;
  padding-left:10%;
  padding-right:10%;
  
}
.submit_content button:active{
  background-color:white;
  color:black;
}


#divmargin{
  margin-top:8px;
}

.find_info{
  height:31px;
 
  margin:0 auto;
  padding:10px auto;
  text-align:center;
}

.find_info a{
  text-decoration:none;
  color:black;
  margin:0 5px;
}

.find_info a:hover{
   color:black;

}