/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	font-size: 62.5%;
	height: 100%;
	background: #efefef url(img/gray_jean.png); 

}

body {
	font-size: 1.4rem; 
	font-family: montserrat, arial, verdana;
}

h1 { font-size: 2.4rem; } /* =24px */

.small_h{
	text-align:center;
	color:#999;
	margin-top:1.0rem;
	font-size: 2.0rem;
}

/*grid*/
.grid{
max-width:1220px;
margin:0 auto;
}

.grid a{
letter-spacing: 1rem;
text-transform:uppercase;
font-size: 5.0rem;
font-family: 'Source Sans Pro', sans-serif;
color:black;
margin:10px 0 10px 0;
text-decoration:none;
text-align:center;

}


.logo{
	text-align: center;
	margin-top:100px;
}



.wrapper {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  height: 60%;
  margin-top: -100px;
  overflow: hidden;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  height: 400px;
  text-align: center;
}

/*form styles*/
#msform {
	width: 400px;
	margin: 50px;
	position:absolute;
	text-align: center;
	
}

#msform fieldset {
	float:center;
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 400px;
	margin: 0 10%;
	position:absolute;
}

/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #53e3a6;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.title {
	font-size: 15px;
	text-transform: uppercase;
	color: black;
	margin-bottom: 10px;
	
}
.subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}



