@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
* { font-family:"Nanum Gothic" !important }


body { 
  background: url(../img/1.jpg) no-repeat center center fixed; 
  background-size:100% 100%;
}



.container{
  width:100%;
  height:100%;
}



.formContentsLayout {
  width: 550px;
  margin: 0 auto;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  background-color: white;
  background-color: white;
  padding:10px;
  border-radius:4px;
  opacity:0.8;
}

#header-logo {
  position: relative;
  height: 168px;
  padding: 62px 0 0;
  width: 900px;
  margin: -10px auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#header-logo .h_logo{
  position: relative;
  display: block;
  overflow: hidden;
  width: 400px;
  margin: -10px auto;
  text-decoration:none;
}

.helpbox{
  width: 700px;
  margin: 20px auto 0 auto;
  border: 1px solid #979FA0;
  background-color: white;
  padding:10px;
  border-radius:4px;
  opacity:0.8;
}

#panel, #flip {
    padding: 4px;
    text-align: center;
  
}

#panel {
    padding: 50px;
    display: none;
}

table.personal{
  margin-left: 5%;
  margin-bottom: 5%;
  border-spacing: 5%;
  width: 80%;
  border: white;
  box-shadow: none;

}



.title h4{
  font-style: bold;
  font-size:2.0rem;
  color: #289685;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 5%; 
  }


.fixed-name, .fixed-id, .password, .new-password{
  border-style: none;
  border: 1px solid #dddcdc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 200px;
  float: left;
  box-shadow: 
}

.fixed-bday{
  border-style: none;      
  border: 1px solid #dddcdc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin-right: 3%;
  float: left;
  width: 80px;
}

td.bday{
  width: 80%;
}


table.table-striped {
  
  background-color: white;
  border-radius: 2px;
  border-width: 1px 1px 1px 1px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

th.number, th.app-number{
  text-align: center; 
  width: 50px;
}

th.club, td.app-club{
  width: 150px;
  text-align: center;
}

th.status, td.app-status{
  width: 150px;
  text-align: center;
}


#wrap{
  position: absolute;
  width: 50%;
  margin-right: 200px;  
  left: 25%;
}

.title-name{
  margin-left: 5%;
  margin-bottom: 2%;
}


hr.line-bar {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #5a5830, #ccc);
    width: 90%;
}




/*제출 버튼*/

.submit{
  text-align: center;
  height  : 40px;
}

.save{
  background-color: #7e7e7c;
  font-style: bold;
  color: white;
  height : 40px;
  width: 100px;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.save:hover{
  background-color:#a39d12;
  color:white;
  box-shadow: 0 0 5px #67665a;
  }


/*signup.css 에서 가져온 코드*/
#divmargin{
  margin-top:15px;
}

.error {
  text-align:left;
  font-size: 15px;
  color: #FF8080;
}

.form-control[disabled]{
  background-color:white !important;
  cursor:pointer !important;
}
