@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
* { font-family:"Nanum Gothic" !important }
html { 
  background: url(../img/2.png) no-repeat center center fixed; 
  background-size: 100% auto;
  background-repeat: repeat;
}

body{
  background-color: transparent;
}


.container{
  position: relative;
  text-align: center;
  background-color: transparent;
  width:100% auto;
}


#header .h_logo{
  position: relative;
  display: block;
  overflow: hidden;
  margin: -10px auto;
  margin-top: 10px;
  margin-bottom: 3px;
  width: 100%;
  text-decoration:none;
  }

#header h1{
    letter-spacing: 0.6rem;
    margin-top:0 !important;
    margin-bottom: 10.5px;
    text-align:center;
    font-size:5.0rem;
    font-family:'Source Sans Pro', sans-serif;
    background-color: transparent;
}

#containbox{
  max-width: 800px;
  min-width: 460px;
  margin: 20px auto;
  background-color: transparent;
  opacity: 0.86;
  filter: alpha(opacity=20);
}

.join_content{
  width:390px;
  margin:0 auto;
  padding:10px 50px;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  background-color: white;
  

}

.join_content fieldset{
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 400px;
  margin: 0 10%;
  background-color: white;

}

.form-group h2{
  text-align:center;
  font-size:2.0rem;
  color: #486E68;
  margin-bottom: 14px;
}

.inputmargin{
  margin-top:3px;
}

#divmargin{
  margin-top:15px;
}

.submit_content{
  height:61px;
  width:396px;
  margin:0 auto;
  padding:10px auto;
  text-align:center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}



.submit_content button{
  width:100%;
  height:100%;
  background-color:#C4CA6E;
  border-radius: 7px;
  color:white;
  letter-spacing: 0.6rem;
  font-size:2rem;
}

.submit_content button:hover{
  background-color:#FCFFC9;
  color:black;
  padding-left:10%;
  padding-right:10%;
  
}
.submit_content button:active{
  background-color:white;
  color:black;
}


.error {
  margin: 3px 0 3px 1px;
  font-size: 12px;
  color: #FF8080;
}

.error2 {
  margin: 3px 0 3px 1px;
  font-size: 14px;
  color: #FF8080;
  text-align:center;
}


#check_button{
    display: block;
    height: 30px;
    width:90px;
    padding: 3px 8px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #777777;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    margin-bottom:9px;
}