@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
* { font-family:"Nanum Gothic" !important }


body { 
  /*background: url(../img/2.png) no-repeat center center fixed; */
  background-size:100% 100%;
}

.wrapper {
  margin-bottom: 5%;
  text-align: center;
}

.title h4{
  font-style: bold;
  font-size:3.0rem;
  color: #289685;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 5%; 
  text-align:center;
  }

.control-label{
  text-align:left !important;
  margin-left:15%;
}


.fixed-name, .fixed-id, .password, .new-password{
  border-style: none;
  border: 1px solid #dddcdc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 200px;
  float: left;
  box-shadow: 
}

.fixed-bday{
  border-style: none;      
  border: 1px solid #dddcdc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin-right: 3%;
  float: left;
  width: 80px;
}

td.bday{
  width: 80%;
}


table.table-striped {
  
  background-color: white;
  border-radius: 2px;
  border-width: 1px 1px 1px 1px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

th.number, th.app-number{
  text-align: center; 
  width: 50px;
}

th.club, td.app-club{
  width: 150px;
  text-align: center;
}

th.status, td.app-status{
  width: 150px;
  text-align: center;
}


#wrap{
  position: absolute;
  width: 50%;
  margin-right: 200px;  
  left: 25%;
}

.title-name{
  margin-left: 5%;
  margin-bottom: 2%;
}


hr.line-bar {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #5a5830, #ccc);
    width: 90%;
}

.submit_content{
  width:100%;
  margin:0 auto;
  padding:10px auto;
  text-align:center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.submit_content input{
  width:100%;
  height:100%;
  margin-top: 5%;
  margin-bottom:2%;
  background-color:#00b38f;
  border-radius: 7px;
  color:white;
  letter-spacing: 0.6rem;
  font-size:2rem;
}


#divmargin{
  margin-top:15px;
}

.error {
  text-align:left;
  font-size: 15px;
  color: #FF8080;
}

.formContentsLayout{
  width:50%;
  margin: 30px auto;
  border:0.5px solid grey;
}

.form-control{
  border: 1px solid grey;
  background-color: grey;
}

.form-control[disabled]{
  background-color:white !important;
  cursor:pointer !important;
}

input[type=submit] {
    margin-left:25%;
    width:50%;
    padding:5px 15px; 
    background:#cfc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
