@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
* { font-family:"Nanum Gothic" !important }
body { 
  background: url(../img/2.png) no-repeat center center fixed; 
  background-size:100% auto;
}

#header .h_logo{
  position: relative;
  display: block;
  overflow: hidden;
  margin: -10px auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-decoration:none;
  }


.col-xs-8 {
  white-space: nowrap;
  width: 
}

.club_list{
  font-size: 40px;
}


.submit_content{
  margin: 20px;
  width: 100px;
  background-color: #7e7e7c;
  font-style: bold;
  color: white;
  height : 40px;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

}
.submit_content:hover{
  background-color:#a39d12;
  color:white;
  box-shadow: 0 0 5px #67665a;
}
.formContentsLayout {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid #979FA0;
  background-color: white;
  padding:10px;
  border-radius:4px;
  opacity:0.8;
}


.application{
  color: #486E68;
  text-align: center;
}