 
.grid{
max-width:1220px;
margin:0 auto;
padding:0 2em;
}


*[class*="col_"].alpha{margin-left:0;}
*[class*="col_"].omega{margin-right:0;}
 

.col_6  { width: 48.333333333333%; }
.col_12 { width: 98.333333333333%; }

.col_6 a{
	text-decoration:none;
    color:black;
    display:inline;
    text-align:center;
}


*[class*="col_"]{
margin-left: 0.83333333333333%;
margin-right: 0.83333333333333%;
margin-top:0.5em;
margin-bottom:0.5em;
float: left;
display: block;
}
