.grid{
max-width:1220px;
margin:0 auto;
}

.grid a{
letter-spacing: 1rem;
text-transform:uppercase;
font-size: 3.0rem;
font-family: 'Source Sans Pro', sans-serif;
color:black;
margin:10px 0 10px 0;
text-decoration:none;
text-align:center;
}

.logo{
	text-align: center;
	margin-top:100px;
}



*[class*="col_"].alpha{margin-left:0;}
*[class*="col_"].omega{margin-right:0;}
 
.col_12 { width: 98.333333333333%; }

.col_6 a{
	text-decoration:none;
    color:black;
    display:inline;
    text-align:center;
}


*[class*="col_"]{
margin-left: 0.83333333333333%;
margin-right: 0.83333333333333%;
margin-top:0.5em;
margin-bottom:0.5em;
float: left;
display: block;
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
* html .clearfix, *:first-child+html .clearfix{zoom:1}

/* Viewable Grids 
	To view your grids, add the class .visible to any grid container.
	This will add a background color so you can see the layout of your grids. 
*/
*[class*="col_"].visible{
background:#eee;
border:1px dotted #ccc;
}


