h1{
letter-spacing: 1rem;
text-transform:uppercase;
font-size:3.0em;
font-family: 'Source Sans Pro', sans-serif;
color:black;
margin:10px 0 10px 0;
text-align:center;
}

h2{
font-size:3.0em;
font-family: 'Source Sans Pro', sans-serif;
margin:10px 0 10px 0;
color:black;
text-align:center;
}